---
layout: default
title: SMBI Families
---

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>

<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">
					SMBI Families we are listening
				</h1>
				<p class="editable">
					The first eight years of life are fundamental to life success, and that is the focus of this project &ndash; Southern Moreton Bay Island Children 0-8 years and their families.<br />Your input is invaluable and will be an essential part of improving not only our children&rsquo;s and families lives but also those of future generations.<br />To get a whole picture of what we as parents/carers on the Islands need for our children to have the perfect start in life, please take the survey.
				</p>
				<div class="button">
					<a href="https://www.surveymonkey.com/r/Z22H2TW">Take the survey</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep" />
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">
		Responses from SMBI families
	</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">
				Connected community
			</h3>
			<p class="editable">
				Support for island families with children who have additional needs and behavioural issues.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">
				Domestic Violence and Family Breakdown
			</h3>
			<p class="editable">
				Domestic violence, alcohol, drugs and unemployment are an issue on the islands and I didn't want my kids growing up beleiving this was status quo.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">
				Accessibility and choice
			</h3>
			<p class="editable">
				Sport and free travel to mainland for childrens' sport. Cheaper vehicle barge. Better parks.
			</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep" />
		</div>
		<div>
			<h2 class="editable">
				Our Mission
			</h2>

			<p class="editable">
				&lt;Insert Mission Statement&gt;
			</p>
		</div>
	</div>
</div>

<div class="container">
	<hr />
	<blockquote>
		<p class="quote editable">
			The potential possibilities of any child are the most intriguing and stimulating in all creation.
		</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" alt="Wooly" src="/uploads/ray-lyman-wilbur-family-photo-square.jpg" width="250" /></span>
				<span class="author editable">Ray L. Wilbur, third president of Stanford University&nbsp;&nbsp;</span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container" id="survey">
		<h2 class="editable">
			Make your voice heard
		</h2>
		<p class="editable" style="text-align: center;">
			Share your aspirations for the families on the Southern Moreton Bay Islands.
		</p>
		<div class="button">
			<a href="https://www.surveymonkey.com/r/Z22H2TW">Take the survey</a>
		</div>
	</div>
</div>

<div class="fb container" id="events">
	<h2 class="editable">
		Events
	</h2>
	<div class="fb-page" data-href="https://www.facebook.com/Smbifamilieswearelistening/" data-tabs="events" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Smbifamilieswearelistening/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Smbifamilieswearelistening/">SMBI Families we are listening</a></blockquote></div>
</div>

<div class="darker">
	<div class="fb container" id="updates">
		<h2 class="editable">
			Updates
		</h2>
		<div class="fb-page" data-href="https://www.facebook.com/Smbifamilieswearelistening/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Smbifamilieswearelistening/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Smbifamilieswearelistening/">SMBI Families we are listening</a></blockquote></div>
	</div>
</div>
